* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  line-height: 1.8;
  font-family: Verdana, sans-serif;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navbar .navbar_content {
  background-color: white;
  justify-content: space-between;
  display: flex;
  vertical-align: middle;
  text-align: center;
}
.navbar .navbar_content .logo {
  letter-spacing: 4px;
}
.navbar .navbar_content ul {
  display: flex;
  max-width: 100%;
}
.navbar .navbar_content a {
  color: black;
  display: inline-block;
  padding: 16px;
  white-space: normal;
}
.navbar .navbar_content a:hover {
  background-color: #ccc;
}
.main_header {
  background-image: url(https://www.w3schools.com/w3images/mac.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 100vh;
}
.main_header .header_content {
  color: white;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  padding: 48px;
  max-width: 100%;
}
.main_header .header_content > h1 {
  font-size: 64px;
  font-weight: 100;
  margin-bottom: 30px;
}
.main_header .header_content > span {
  font-size: 18px;
}
.main_header .header_content > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 40px;
}
.main_header .header_content > p > a {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 17px 24px;
  font-size: 18px;
}
.main_header .header_content > p > a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.main_header .icon {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #757575;
  padding: 24px 48px;
  font-size: 18px;
}
.main_header .icon i:hover {
  color: #585858;
}
.main_about {
  text-align: center;
  height: 70vh;
  padding: 0 28px;
}
.main_about h3 {
  margin-top: 8rem;
  font-size: 24px;
  font-weight: 100;
}
.main_about > p {
  font-size: 18px;
  margin: 18px 0;
}
.main_about .service_list {
  display: flex;
  justify-content: space-around;
  padding: 16px 12px;
}
.main_about .service_list i {
  font-size: 64px;
  margin: 20px 0;
}
.main_about .service_list .service_description {
  font-size: 15px;
  text-indent: 10px;
}
.promo_section {
  color: black;
  background-color: #f1f1f1;
  padding: 128px 24px;
  height: 90vh;
}
.promo_section .promo_content {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 0 8px;
  justify-content: space-between;
}
.promo_section .promo_content .promo_text h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}
.promo_section .promo_content .promo_text > p {
  margin: 15px 0;
}
.promo_section .promo_content .promo_text > p > a {
  color: white;
  background-color: black;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  text-align: center;
}
.promo_section .promo_content .promo_img img {
  border-radius: 8px;
}
.name_list {
  padding: 8rem 1.5rem;
}
.name_list h3 {
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}
.name_list > p {
  text-align: center;
  font-size: 18px;
}
.name_list .card_list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 64px;
}
.name_list .card_list > div {
  margin: 0 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: inherit;
}
.name_list .card_list > div h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  padding: 0 16px;
}
.name_list .card_list > div .position {
  opacity: 0.7;
}
.name_list .card_list > div > p {
  padding: 0 16px;
  font-size: 15px;
}
.name_list .card_list > div img {
  width: 100%;
  filter: grayscale(75%);
}
.name_list .card_list > div button {
  color: black;
  font-size: 15px;
  display: inline-block;
  padding: 10px;
  width: 100%;
  border: 0;
  font-family: "Raleway", sans-serif;
  margin: 15px 0;
}
.name_list .card_list > div button:hover {
  background-color: #ccc;
}
.main_statistic {
  background-color: #5f5f5f;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  max-width: 100%;
}
.main_statistic .statistic_block {
  color: white;
  font-family: "Raleway", sans-serif;
}
.main_statistic .statistic_block .indicator {
  font-size: 32px;
}
.main_statistic .statistic_block .field {
  font-size: 14px;
  font-weight: 100;
}
.work_section {
  text-align: center;
  height: 110vh;

  margin-left: auto;
  margin-right: auto;
  width: 100%;

}
.work_section h3 {
  margin-top: 8rem;
  font-size: 24px;
  font-weight: 400;
}
.work_section p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 70px;
}
.work_section .our_works {
  margin-top: 15px;
  justify-content: space-between;
  margin-left: 3%;

}
.work_section .our_works > div {
  width: 24%;
  display: flex;
  margin-top: 20px;
  margin-left: 2%;

}
.work_section .our_works > div > img {
  width: 100%;
  padding: 0 8px;
}
.work_section .our_works > div > img:hover {
  opacity: 0.5;
}
.skills_section {
  color: #000;
  background-color: #f1f1f1;
  padding: 64px 16px;
}
.skills_section .skills_content {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}
.skills_section .skills_content .text_section {
  width: 40%;
}
.skills_section .skills_content .text_section h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}
.skills_section .skills_content .text_section > p {
  margin: 15px 0;
  font-size: 15px;
}
.skills_section .skills_content .level_section {
  width: 50%;
  padding: 0 8px;
}
.skills_section .skills_content .level_section > p {
  font-size: 15px;
  letter-spacing: 4px;
}
.skills_section .skills_content .level_section > p i {
  margin-right: 20px;
}
.skills_section .skills_content .level_section .box {
  background-color: #9e9e9e;
  text-align: center;
  color: white;
  margin: 15px 0;
}
.skills_section .skills_content .level_section .box > div {
  color: #fff;
  background-color: #616161;
}
.skills_section .skills_content .level_section .box .percent_1 {
  width: 90%;
}
.skills_section .skills_content .level_section .box .percent_2 {
  width: 85%;
}
.skills_section .skills_content .level_section .box .percent_3 {
  width: 75%;
}
.price_section {
  padding: 128px 16px;
  color: #fff;
  background-color: #616161;
  text-align: center;
}
.price_section > h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}
.price_section > p {
  font-size: 18px;
}
.price_section .price_list {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}
.price_section .price_list .black_list {
  width: 33.33%;
  padding: 0 8px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.price_section .price_list .black_list ul {
  color: #000 !important;
  background-color: #fff !important;
}
.price_section .price_list .black_list ul:hover {
  box-shadow: 4px 4px 8px 0 #223c50;
}
.price_section .price_list .black_list ul li {
  border-bottom: 1px solid #ddd;
  padding: 13px 16px;
}
.price_section .price_list .black_list ul li:nth-of-type(1) {
  color: white;
  background-color: black;
  padding: 32px 16px;
  font-size: 24px;
}
.price_section .price_list .black_list ul li:nth-of-type(6) h3 {
  font-weight: 400;
  margin: 10px 0;
  letter-spacing: 4px;
  font-size: 30px;
}
.price_section .price_list .black_list ul li:nth-of-type(6) span {
  opacity: 0.6;
}
.price_section .price_list .black_list ul li:nth-of-type(7) {
  padding: 24px 0;
  background-color: #f1f1f1;
}
.price_section .price_list .black_list ul li:nth-of-type(7) button {
  padding: 16px 24px;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 15px;
}
.price_section .price_list .black_list ul li:nth-of-type(7) button:hover {
  color: black;
  background-color: #ccc;
  cursor: pointer;
}
.price_section .price_list .red_list {
  width: 33.33%;
  padding: 0 8px;
}
.price_section .price_list .red_list ul {
  color: #000;
  background-color: #fff;
}
.price_section .price_list .red_list ul:hover {
  box-shadow: 4px 4px 8px 0 #223c50;
}
.price_section .price_list .red_list ul li {
  border-bottom: 1px solid #ddd;
  padding: 13px 16px;
}
.price_section .price_list .red_list ul li:nth-of-type(1) {
  color: white;
  background-color: #ff3511;
  padding: 48px 16px;
  font-size: 24px;
}
.price_section .price_list .red_list ul li:nth-of-type(6) h3 {
  font-weight: 400;
  margin: 10px 0;
  letter-spacing: 4px;
  font-size: 30px;
}
.price_section .price_list .red_list ul li:nth-of-type(6) span {
  opacity: 0.6;
}
.price_section .price_list .red_list ul li:nth-of-type(7) {
  padding: 24px 0;
  background-color: #f1f1f1;
}
.price_section .price_list .red_list ul li:nth-of-type(7) button {
  padding: 16px 24px;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 15px;
}
.price_section .price_list .red_list ul li:nth-of-type(7) button:hover {
  color: black;
  background-color: #ccc;
  cursor: pointer;
}
.contact_area {
  color: #000;
  background-color: #f1f1f1;
  padding: 128px 16px;
  line-height: 1.8;
}
.contact_area > h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  text-align: center;
}
.contact_area > p {
  font-size: 18px;
  text-align: center;
}
.contact_area .form_area {
  margin-top: 48px;
}
.contact_area .form_area > p > i {
  text-align: center;
  font-size: 36px;
  margin-right: 16px;
}
.contact_area .form_area form {
  margin-top: 36px;
}
.contact_area .form_area form > p {
  margin: 15px 0;
}
.contact_area .form_area form > p input {
  border: 1px solid #ccc;
  padding: 8px;
  display: block;
  width: 100%;
  font: inherit;
  margin: 0;
}
.contact_area .form_area form > p button {
  color: white;
  background-color: black;
  border: none;
  padding: 14px 16px;
  text-align: center;
}
.contact_area .form_area iframe {
  width: 100%;
  margin-top: 48px;
}
